<div class="missions-box">
  <h2>missions</h2>
  <div class="mission-category-box">
    <h2>Offen</h2>
    <mat-card [ngStyle]="{'background-color': '#FFFF00'}">
      <span><b>Wasserschaden</b></span>
      <span>Priorität gelb</span>
      <span>Fahrzeuge: Strom, Fahrzeug 4, Container Hochwasser</span>
    </mat-card>
  </div>

  <div class="mission-category-box">
    <h2>Läuft</h2>
    <mat-card [ngStyle]="{'background-color': '#FFFF00'}">
      <span><b>Wasserschaden</b></span>
      <span>Priorität gelb</span>
      <span>Fahrzeuge: Strom, Fahrzeug 4, Container Hochwasser</span>
    </mat-card>
    <mat-card [ngStyle]="{'background-color': '#ADFF2F'}">
      <span><b>Wasserschaden</b></span>
      <span>Priorität grün</span>
      <span>Fahrzeuge: Fahrzeug 3 mit Wassersauger</span>
    </mat-card>
    <mat-card [ngStyle]="{'background-color': '#ADFF2F'}">
      <span><b>Unterstützung Stadtwerke</b></span>
      <span>Priorität grün</span>
      <span>Fahrzeuge: Fahrzeug 7</span>
    </mat-card>
  </div>

  <div class="mission-category-box">
    <h2>Abgeschlossen</h2>
    <mat-card [ngStyle]="{'background-color': '#FF0000'}">
      <span><b>Baum auf PKW</b></span>
      <span>Priorität rot</span>
      <span>Fahrzeuge: Voraus, Rüst, Tank 3</span>
    </mat-card>
  </div>

</div>
