<h1>verfügbare Fahrzeuge</h1>

<table>
  <tr>
    <td>
      Lüfter
    </td>
    <td>
      Kommando
    </td>
  </tr>
  <tr>
    <td>
      Fahrzeug 7
    </td>
    <td>
      Strom
    </td>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      Leiter
    </td>
  </tr>
  <tr>
    <td>
      Lösch
    </td>
    <td>
      Tank 1
    </td>
  </tr>
  <tr>
    <td>
      Atem
    </td>
    <td>
      Tank 3
    </td>
  </tr>
  <tr>
    <td>
      Rüst
    </td>
    <td>
      Voraus
    </td>
  </tr>
  <tr>
    <td>
      Fahrzeug 1
    </td>
    <td>
      Tank 2
    </td>
  </tr>
  <tr>
    <td>
      Fahrzeug 4
    </td>
    <td>
      Fahrzeug 5
    </td>
  </tr>
  <tr>
    <td>
      Fahrzeug 2
    </td>
    <td>
      Fahrzeug 3
    </td>
  </tr>
  <tr>
    <td>
      GSF
    </td>
    <td>
      Deko
    </td>
  </tr>
  <tr>
    <td>
      Last 1
    </td>
    <td>
      Last 2
    </td>
  </tr>
</table>
