<div class="dialog-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <form (ngSubmit)="saveOperation(operationForm)" #operationForm="ngForm">

    <div class="operation-capture-container">
      <h1 mat-dialog-title>Einsatz-Erfassung</h1>
      <div mat-dialog-content>
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>laufende Nummer</mat-label>
            <input disabled value="{{ operation.operationNumber }}" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Zeitstempel (wird automatisch generiert)</mat-label>
            <input disabled value="{{ operation.timestamp | date : 'dd.MM.y, HH:mm:ss' }}" matInput>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Straße + Hausnummer</mat-label>
          <input [disabled]="isLoading" [(ngModel)]="operation.address" name="address" matInput
            placeholder="Straße + Hausnummer" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ort</mat-label>
          <input [disabled]="isLoading" [(ngModel)]="operation.city" name="city" matInput placeholder="Ort" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Stichwort</mat-label>
          <input [disabled]="isLoading" [(ngModel)]="operation.keyword" name="keyword" matInput
            placeholder="Wasserschaden, Unwetter, Türöffnung, Unterstützung ..." required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Anrufer / Melder</mat-label>
          <input [disabled]="isLoading" [(ngModel)]="operation.keyword" name="caller" matInput
            placeholder="Name des Anrufers / Melders" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Telefonnummer</mat-label>
          <input [disabled]="isLoading" [(ngModel)]="operation.phone" name="phone" matInput
            placeholder="Name des Anrufers / Melders" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bemerkungen</mat-label>
          <textarea [disabled]="isLoading" [(ngModel)]="operation.comments" name="comments" matInput
            placeholder="Bemerkungen zum Einsatz" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>aufgenommen von</mat-label>
          <input [disabled]="isLoading" [(ngModel)]="operation.calltaker" name="calltaker" matInput
            placeholder="Dein Name (Feuerwehrmann ...)" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Priorität</mat-label>
          <textarea [disabled]="isLoading" [(ngModel)]="operation.priority" name="priority" matInput
            placeholder="hoch, mittel, niedrig" required></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="operation-processing-container">
      <h1 mat-dialog-title>Einsatz-Abarbeitung</h1>
      <div mat-dialog-content>


        
      </div>
      <div mat-dialog-actions>
        <button [disabled]="isLoading" mat-button (click)="dialogRef.close()">abbrechen</button>
        <button [disabled]="isLoading" mat-button>
          <mat-icon fontIcon="save" class="margin-right-4">save</mat-icon>
          drucken
        </button>
        <button [disabled]="isLoading" mat-raised-button color="primary" cdkFocusInitial>
          <mat-icon fontIcon="save" class="margin-right-4">save</mat-icon>
          speichern
        </button>
      </div>
    </div>

  </form>
</div>
