<p>dialog-add-mission works!</p>
<h1 mat-dialog-title>Neue Mission erstellen</h1>
<div mat-dialog-content>
  <h2>ACHTUNG: Hier erstellst du eine neue Mission:</h2>
  <p>Eine Mission ist beispielsweise eine Unwetter-Flächenlage, bei der viele Einsätze gleichzeitig auftreten. Möchtest du einen einzelnen Einsatz erstellen, dann wähle eine bereits bestehende Mission und füge den Einsatz dieser Mission hinzu!</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
